<html>
<head>
  <title>Add | Online Calculator</title>
</head>
<body>
  <h1>Computer</h1>

 <form action="/calculate_add" method="POST">

  <input type="number" placeholder="1st number"> +
  <input type="number" placeholder="2nd number">

  <button type="submit" name="btn" value="add">Add it</button>
</form>
</body>
</html>