<h1>Welcome to this timetracking tool</h1>

<p><em>The best Rails timetracking app. </em></p>
<p>Powered by HollyWood Rails</p>

<img src="/assets/dramatic-glasses.gif" alt="Kid removing glasses epically">

<%= image_tag "dramatic-glasses.gif" %>