  	<body>
  		<header>
  			<h1>Tmtckr</h1>

  			<ul>
  				<li>
  					<a href="/"> Home </a>
				</li>
				
  				<li>
  					<a href="/contact"> Contact Us </a>
				</li>
			</ul>

		</header>

    