<h1>New Product for <%=@user.name%></h1>
	<%= form_for [@user,@product] do |f| %>
		<%=f.label :title%>
		<%=f.text_field :title%>

		<!--Fill out with :description F.text_area and f.datetime_field :dealine-->