<h1>UrbanPharm<h1>
<p>Helping people. One pill at a time.</p>

<ul>
	<li> <a href="/company">Company</a></li>
	<li> <a href="/about">About</a></li>
	<li> <a href="http://www.google.com">Cool Stuff</a></li>
</ul>

<% if Date.today.wednesday?%>
	<p>
		Kanye West is <strong>NOT</strong> a fan of Tuesdays like today.
	</p>

<% else %>

	<p> 
		Everybody loves every other day.
	</p>

<% end %>

<p>

Llamas migrate to the North today: 
<%= Date.today %>.

</p>