<h1> Movie Trivia! </h1>
	
	<p>
		<form action="search_results" method="POST">
		  <input type="text" name="word" placeholder="Word"><br><br>
		  <button type="submit" name="/submit" value="submit">Submit!</button>
	 	</form>
	</p>